.table-container .table thead tr th {
    background-color: #f7f9fc !important;
    text-transform: uppercase;
    color: #6087a0 !important;
    font-weight: 700;
    line-height: 1.3;
    padding: 5px 8px;
}

.table-container .table th, .table td {
    padding: 0.4rem!important;
}